.image-grid__item-five {
  grid-area: 3 / 8 / span 2 / span 2;
}

@media screen and (max-width: 710px) {
  .image-grid__item-five {
    grid-area: 2 / 7 / span 2 / span 2;
  }
}

@media screen and (max-width: 590px) {
  .image-grid__item-five {
    grid-area: 2 / 4 / span 2 / span 2;
  }
}